<!-- Seção de Gerenciador de Regras -->
<div id="aba-regras" class="aba">
    <h2>Gerenciador de Regras</h2>
  
    <div id="rules-actions" style="margin: 10px 0;">
      <button id="btn-save-rules">💾 Save Rules</button>
      <button id="btn-load-rules">📥 Load Rules</button>
      <button id="btn-clean-rules">🧹 Clean Rules</button>
      <button id="btn-export-rules">📄 Export Rules</button>
      <button id="btn-import-rules">📂 Import Rules</button>
      <input type="file" id="import-rules-input" style="display: none;">
    </div>
    {% include "partials/form_regra.html" %}
    <div class="table-responsive">
      <table id="tabela-regras">
        <tbody>
          <!-- Preenchido pelo JS -->
        </tbody>
      </table>
    </div>
  

  </div>
  