body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    background-color: #f5f6fa;
    font-size: 1rem;
    color: #2f3640;
  }
  
  .container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0;
  }
  
  h1, h2 {
    text-align: center;
    color: #353b48;
    margin-bottom: 1.5rem;
  }
  