button,
select,
input {
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  transition: background-color 0.3s ease;
}

button:hover,
select:hover,
input:hover {
  background-color: #dcdde1;
  cursor: pointer;
}

#export-btn {
  background-color: #44bd32;
  color: #fff;
  border: none;
  padding: 0.625rem 1.25rem;
  margin: 0.625rem 0;
  font-weight: bold;
}

#export-btn:hover {
  background-color: #4cd137;
}
